<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Profile Picture</title>
</head>
<body>

    <h1>Saved Profile Picture</h1>

    {% if photo %}
        <img src="{{ photo.Pic1.url }}" alt="User Profile Picture">
    {% else %}
        <p>No profile picture available.</p>
    {% endif %}

    <a href="{% url 'dash' %}">Back to Dashboard</a>

</body>
</html>
